.title-aboutUs{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #000000;

}

.logo-aboutUs{
    margin-top: 5%;
    height: 20vh;

}

.explanation{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    height: 10vh;

}

.paragraph-aboutUs{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #778192;
}