.landing-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    column-gap: 100px;
    position: absolute;
   
  }
.ibm-logo{
  position: relative;
    left: 15px;
    top: 35px;
}
.leftside{
  margin-top: 10%
}
  .top-landing-component{
    height: 70vh;
  }
  .landing-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 22.6077px;
  }
  
  
  .landing-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11.3039px 27.1293px;
    position: static;
    left: 10px;

   
    background: #23a6f0;
    border-radius: 27.8829px;
  }
  
  .landing-btn-text {
    position: static;
    left: 22.81%;
    right: 22.81%;
    top: 20.93%;
    bottom: 49.44%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.150718px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 7.53592px 0px;
  }
  

  .landing-card{
  column-gap: 10px;
  height: 175px;


  }

  .landing-card:hover {
    background-color: #23a6f0;
  }  

  .card-item-paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: grey;

  }

  
  
  .card-item-paragraph {
    position: static;}
    
  .feature-title {
    position: static;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18.0862px;
    line-height: 24px;
    letter-spacing: 0.0753592px;
    color: #252b42;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 7.53592px 0px;
  }
  
  .landing-main-title {
    position: relative;

   
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 43.7083px;
    line-height: 60px;
    letter-spacing: 0.150718px;
    color: #252b42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 26.3757px 0px;
  }
  
  .card-item-maintxt {
    position: static;
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18.0862px;
    line-height: 22px;
  
    letter-spacing: 0.0753592px;
  
    color: #252b42;
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 7.53592px 0px;
  }
  .landing-sub-title {
    position: static;
    left: 20px;

   
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15.0718px;
    line-height: 23px;
    letter-spacing: 0.150718px;
    color: #737373;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 26.3757px 0px;
  }
  
  .landing-logo {
    position: absolute;
   
  
    background: url("../../assets/logo.png");
  }
  .ai-pic {
    position: absolute;
    
    background: url("../../assets/AI.png");
  }
 